@model IEnumerable<string> 
@{Layout = null;} 
<!DOCTYPE html> 
<head>
    <meta name=" viewport" content="width=device-width"/> 
    <title> Quiz 11B </title>
</head>
<h1 style=" font-family: 'arial'; font-size: 24px; text-align: center; color: #5a98a8;"> Quiz 11 MVC </h1>
<body style=" font-family: 'arial'; font-size:24px; text-align: center; color: papayawhip;">
    <u1 style=" = "list-style-type:none;">
        @foreach (string s in Model)
        { <li>@s</li>

        }

    </body>
    </html>